<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.bluewhale.service.mapper.MenuMapper">

    <!--
        定义实体属性和数据库字段之间映射对应关系
        jdbcType属性：org.apache.ibatis.type.JdbcType类中定义的枚举，需要大写
    -->
    <resultMap id="BaseResultMap" type="com.qs.bluewhale.entity.Menu">
        <id column="menu_id" property="menuId" jdbcType="VARCHAR"/>
        <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="show_order" property="showOrder" jdbcType="FLOAT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="menu_name_path" property="menuNamePath" jdbcType="VARCHAR"/>
        <result column="menu_id_path" property="menuIdPath" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="DATE"/>
    </resultMap>

    <parameterMap id="BaseParameterMap" type="com.qs.bluewhale.entity.Menu">
        <parameter property="parentMenuId" resultMap="BaseResultMap"/>
    </parameterMap>

    <sql id="Base_Column_List">
        menu_id, parent_menu_id, menu_name, show_order,
        url, menu_name_path, menu_id_path, create_by, create_time, last_modify_by, last_modify_time
    </sql>

    <!-- 根据parentMenuId查询出所有的子菜单 -->
    <select id="getMenuListByParentMenuId" parameterType="String" resultType="Menu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_bw_menu
        <where>
            <if test="_parameter!=null">
                parent_menu_id=#{parentMenuId}
            </if>
            <if test="_parameter==null">
                parent_menu_id is null
            </if>
        </where>
        ORDER BY show_order ASC
    </select>

     <!-- mybatis直接返回map集合（key=id，value=menu实体） -->
    <select id="getMenuIdAndUrlMap" parameterType="String" resultType="Menu" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from t_bw_menu
        <where>
            <if test="_parameter!=null">
                parent_menu_id=#{parentMenuId}
            </if>
        </where>
    </select>
</mapper>