<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.bluewhale.service.mapper.UserMapper">

    <!--
        定义实体属性和数据库字段之间映射对应关系
        jdbcType属性：org.apache.ibatis.type.JdbcType类中定义的枚举，需要大写
    -->
    <resultMap id="BaseResultMap" type="com.qs.bluewhale.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="signature" property="signature" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="user_head_img" property="userHeadImg" jdbcType="BLOB"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id, user_name, password, email,
        create_by, create_time, last_modify_by, last_modify_time
    </sql>


    <insert id="insert">
        INSERT INTO t_bw_user(
        <include refid="Base_Column_List"/>
        )
        VALUES(
        #{userId}, #{userName},#{password},#{email},#{createBy}, #{createTime},#{lastModifyBy}, #{lastModifyTime}
        )
    </insert>

    <update id="delete" parameterType="String">
        DELETE FROM t_bw_user
        WHERE user_id = #{userId}
    </update>

    <select id="getAllUsers" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_bw_user
    </select>

    <select id="getUserList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_bw_user
        <where>
            <if test="keyword!=null">
                user_name like '%' + #{keyword} + "%"
            </if>
        </where>
        LIMIT #{limit}
        OFFSET #{start}
    </select>


    <!-- 使用mybatis的PageHelper进行分页 -->
    <select id="findByPage" resultMap="BaseResultMap" useCache="false">
        select
        <include refid="Base_Column_List" />
        from t_bw_user
    </select>


    <update id="updateUser" parameterType="User">
        UPDATE t_bw_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="signature!=null">signature=#{signature},</if>
            <if test="position!=null">position=#{position},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="userHeadImg!=null">user_head_img=#{userHeadImg},</if>
            <if test="createBy!=null">create_by=#{createBy},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="lastModifyBy!=null">last_modify_by=#{lastModifyBy},</if>
            <if test="lastModifyTime!=null">last_modify_time=#{lastModifyTime},</if>
        </trim>
        WHERE user_id=#{userId}
    </update>
</mapper>